# Database configuration
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=qbank_db

# Backend configuration
DATABASE_URL=postgresql+asyncpg://user:password@db:5432/qbank_db
SECRET_KEY=your_secret_key_here
BACKEND_CORS_ORIGINS=http://localhost:5173,http://localhost:5176,http://localhost:8000,http://localhost
