fastapi
uvicorn[standard]
sqlmodel
asyncpg
alembic
psycopg2-binary
langchain
langchain-community
langchain-openai
python-multipart
sentence-transformers
pypdf
httpx
httpx
bcrypt==3.2.2
passlib[bcrypt]
python-jose[cryptography]
python-dotenv
langchain-huggingface
langchain-postgres

cachetools
instructor
